body{ 
  background-color: #F6F1E8;
  font-family: sans-serif;
  color: #5F5A53;
  padding: 1.2rem;
  line-height: 1.2;   
  max-width: 1120px;
  margin-inline: auto;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4rem;
}
.home-link{
  text-decoration: none;
  color: #1C1917;
  font-weight: 700;
  font-size: 1.4rem;
}
.menu{
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
.menu-item, .footer-link{
  text-decoration: none;
  color: inherit;
}
.menu-item:hover, .footer-link:hover{
  text-decoration: none;
  color: #BF5B36;
}
.signin, .signup{
  border-radius: 2rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}
.signin{
  color: #1C1917;
  background-color: #FFFDF8;
  border: 1px solid #D9CFC0;
}
.signin:hover{
  color: #BF5B36;
  border-color: #BF5B36;
  cursor: pointer;
}
.signup{
  background-color: #BF5B36;
  color: #FFF;
  border: none;
}
.signup:hover{
  cursor: pointer;
  background-color: #944226;
}
.example-page{
  margin-bottom: 80px;
}
.example-page-title, .products-title{
  color: #BF5B36;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.example-page-title-2{
  color: #1C1917;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0rem;
}
.exmpale-page-description{
  margin-bottom: 2rem;
}
.example-page-subscription{
  display: flex;
  gap: 1rem;
}
.example-page-subscription-email{
  border-radius: 2rem;
  width: 240px;
  height: 19.2px;
  padding: 0.75rem 1rem;
  border: 0.8px solid #D9CFC0;
  font-size: 1rem;
}
.example-page-subscription-button{
  background-color: #BF5B36;
  color: #FFF;
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}
.example-page-subscription-button:hover{
  cursor: pointer;
  background-color: #944226;
}

.products-header{
  color: #1C1917;
  line-height: 1;
  font-size: 3.2rem;
  font-weight: 700;
}

.products-list{
  display: flex;
  gap: 1.5rem;
  margin-bottom: 8rem;
}

.product{
  min-width: 356px;  
  border-radius: 1rem;
  background-color: #FFFDF8;
  box-shadow: 1px 2px 4px #3823140F;
  padding-bottom: 1.5rem;
}

.product_image{
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.product_name{
  font-size: 0.9rem;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  color: #BF5B36;
}

.product_subname_price{
  margin: 0rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  font-weight: bold;
}

.product_subname_price_subname{
  color: #1C1917;
  margin: 0;
}

.product_description{
  margin: 0rem 1.5rem 1rem 1.5rem;
  line-height: 1.7;
}

.product_details{
  margin: 0rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #1C1917;
  font-size: 1rem;
}

.product_details:hover{
  color: #BF5B36;
}

footer{
  display: flex;
  justify-content: space-between;  
  border-top: 1px solid #D9CFC0;
  padding-top: 1rem;
  align-items: baseline;
}

.footer-links{
  display: flex;
  gap: 1.5rem;
}

.footer-copyright{  
  align-self: flex-end;  
}